@import '~bootstrap/scss/bootstrap';

$board-bg-color: #d3d3d3;
$board-border: #000;
$failure-text-color: #f00;
$move-text-color: #800080;
$success-text-color: #008000;
$x-o-color: #00f;

.container {
  align-items: center;
  background-color: $board-bg-color;
  display: flex;
  height: 420px;
  margin: 10px 100px;
  padding: -10px;
  width: 420px;
}

.failure-message {
  color: $failure-text-color;
}

.move-message {
  color: $move-text-color;
}

.o-move {
  position: absolute;
}

.square {
  align-content: center;
  align-items: baseline;
  color: $x-o-color;
  display: flex;
  font-size: 84px;
  height: 140px;
  justify-content: space-around;
  padding: 0;
  width: 140px;

  &.board-top {
    border-top: 5px solid $board-border;
  }

  &.board-bottom {
    border-bottom: 5px solid $board-border;
  }

  &.board-left {
    border-left: 5px solid $board-border;
  }

  &.board-right {
    border-right: 5px solid $board-border;
  }
}

.success-message {
  color: $success-text-color;
}

.x-move {
  position: absolute;
}
