@import '~bootstrap/scss/bootstrap';

$board-bg-color: #d3d3d3;
$board-border: #000;
$failure-text-color: #f00;
$success-text-color: #008000;

.container {
  align-items: center;
  background-color: $board-bg-color;
  display: flex;
  height: 420px;
  width: 420px;
}

.failure-message {
  color: $failure-text-color;
}

.square {
  color: blue;
  font-size: 70px;
  height: 140px;
  padding: 10px;
  text-align: center;
  width: 140px;

  &.board-top {
    border-top: 5px solid $board-border;
  }

  &.board-bottom {
    border-bottom: 5px solid $board-border;
  }

  &.board-left {
    border-left: 5px solid $board-border;
  }

  &.board-right {
    border-right: 5px solid $board-border;
  }
}

.success-message {
  color: $success-text-color;
}
